<h1>Carrito {{cart._id}}</h1>

{{#if cart.products.length}}
<ul style="list-style:none; padding:0; display: flex; flex-direction:column; gap: 12px">
  {{#each cart.products}}
   <li style="border:1px solid #ddd; padding:12px; border-radius:8px;">
        <div><b>{{this.product.title}}</b> - ${{this.product.price}}</div>
        <div>Cantidad: {{this.quantity}}</div>

        <button type="button" onclick="removeItem('{{../cart._id}}','{{this.product._id}}')" style="margin-top:8px;">
          Eliminar del carrito
        </button>
      </li>
  {{/each}}
</ul>
<button type="button" onclick="clearCart('{{cart._id}}')" style="margin-top: 14px;">
  Vaciar carrito
</button>
{{else}}
<p>Carrito vacío</p>
{{/if}}

<div style="margin-top:12px;">
  <a href="/products?cartId={{cart._id}}">Ir a productos</a>
</div>

<script>
  async function removeItem(cid, pid) {
    const res = await fetch(`/api/carts/${cid}/products/${pid}`, { method: "DELETE" });
    const data = await res.json();
    if (data.status === "success") location.reload();
    else alert("Error: " + (data.error || "unknown"));
  }

  async function clearCart(cid) {
    const res = await fetch(`/api/carts/${cid}`, { method: "DELETE" });
    const data = await res.json();
    if (data.status === "success") location.reload();
    else alert("Error: " + (data.error || "unknown"));
  }
</script>